<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:fragment="commonHeader(title)">
    <meta charset="UTF-8">
    <!--/*@thymesVar id="title" type="title"*/-->
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>

</head>
<body>
<div th:fragment="commonNav">
<!--    边栏-->
    <div class="main">
        <ul>
            <li><h5>卖家管理系统</h5></li>
            <li><a href="/seller/order/list">订单</a></li>
            <li><a href="#">商品</a>
                <ul class="list_new">
                    <li><a href="/seller/product/list">列表</a></li>
                    <li><a href="/seller/product/index">新增</a></li>
                </ul>
            </li>
            <li><a href="#">类目</a>
                <ul class="list_new">
                    <li><a href="/seller/category/list">列表</a></li>
                    <li><a href="/seller/category/index">新增</a></li>
                </ul>
            </li>
            <li><a href="/seller/logout"><i class="fa fa-fw fa-list-alt"></i>登出</a></li>
        </ul>
    </div>
</div>

</body>
</html>