<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>卖家订单详情</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
</head>
<body>
<div id="wrapper" class="toggled" >
    <!--    边栏sidebar-->
    <th:block th:include="common/nav::commonNav">
    </th:block>
    <div id="page-content">
        <div class="container">
    <div class="row">
        <div class="col-md-4 column">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>订单id</th>
                    <th>订单总金额</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${orderDTO.orderId}"></td>
                    <td th:text="${orderDTO.orderAmount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-10 column">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>商品id</th>
                    <th>商品名称</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="orderDetail : ${orderDTO.orderDetailList}">
                <tr>
                    <td th:text="${orderDetail.productId}"></td>
                    <td th:text="${orderDetail.productName}"></td>
                    <td th:text="${orderDetail.productPrice}"></td>
                    <td th:text="${orderDetail.productQuantity}"></td>
                    <td th:text="${orderDetail.productQuantity * orderDetail.productPrice}"></td>
                </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 column">
            <th:block th:if="${orderDTO.getOrderStatusEnum().message=='新订单'}">
            <a href="#" class="btn btn-primary btn-lg" role="button" aria-pressed="true"
                th:href="@{/seller/order/finish(orderId=${orderDTO.orderId})}">完结订单</a>
            <a href="#" class="btn btn-danger btn-lg" role="button" aria-pressed="true"
                th:href="@{/seller/order/cancel(orderId=${orderDTO.orderId})}">取消订单</a>
            </th:block>
            <a href="#" onclick="history.back(-1)" class="btn btn-info btn-lg" role="button" aria-pressed="true">返回</a>
        </div>
    </div>
</div>
    </div>
</div>
</body>