*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  position: relative;
  overflow-x: hidden;
}
body,html {
  height: 100%;
  /*background-color: #583e7e;*/
}
.main{
  display: inline-block;
  float: left;
  background-color: #1a1a1a;
  width: 180px;
  height: 500px;
}
#page-content{
  padding-top: 20px;
  width: 100%;
}
div::after{
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.main li>h5{
  color: aliceblue;
  margin: 15px auto;
}
.main li{
  padding: 10px 20px;
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
  color: #3c3c3c;
}
.main li:before {
  background-color: #1c1c1c;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
.main li>a{
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: aliceblue;
}
.main li>a:hover{
  width: 100%;
  background-color: black;
  text-decoration:none; cursor:pointer
}
li>ul.list_new{
  display: none;
}
li:hover ul.list_new{
  display: block;
  width: 100%;
  transition:All 0.5s ease-in-out;
}


